<section class="wrapper-catalogue">
	<div class="mbox">
		<div class="catalogue-title">Каталог шин <span><img src="images/hankook-logo.png" alt=""></span></div>
		<div class="wrap-tires">
			<div class="tires-item">
				<div class="item-name">Hankook Ventus V12 evo2 K120 205/55 R16 94W</div>
				<div class="photo"><img src="images/tirepic.png" alt=""></div>
				<div class="about">
					<div class="desc">Сезонность:<span> Зимняя (без шипов)</span></div>
					<div class="desc">Протектор/Вес: <span>9 мм / 10,5 кг</span></div>
					<div class="desc">Производство: <span>Россия</span></div>
					<div class="desc">Класс модели: <span>А (Премиум)</span></div>
					<div class="btn"><a href="#params" class="size-btn slit">подобрать размер</a></div>
				</div>
			</div>
			<div class="tires-item">
				<div class="item-name">Hankook Ventus V12 evo2 K120 205/55 R16 94W</div>
				<div class="photo"><img src="images/tirepic.png" alt=""></div>
				<div class="about">
					<div class="desc">Сезонность:<span> Зимняя (без шипов)</span></div>
					<div class="desc">Протектор/Вес: <span>9 мм / 10,5 кг</span></div>
					<div class="desc">Производство: <span>Россия</span></div>
					<div class="desc">Класс модели: <span>А (Премиум)</span></div>
					<div class="btn"><a href="#params" class="size-btn slit">подобрать размер</a></div>
				</div>
			</div>
			<div class="tires-item">
				<div class="item-name">Hankook Ventus V12 evo2 K120 205/55 R16 94W</div>
				<div class="photo"><img src="images/tirepic.png" alt=""></div>
				<div class="about">
					<div class="desc">Сезонность:<span> Зимняя (без шипов)</span></div>
					<div class="desc">Протектор/Вес: <span>9 мм / 10,5 кг</span></div>
					<div class="desc">Производство: <span>Россия</span></div>
					<div class="desc">Класс модели: <span>А (Премиум)</span></div>
					<div class="btn"><a href="#params" class="size-btn slit">подобрать размер</a></div>
				</div>
			</div>
			<div class="tires-item">
				<div class="item-name">Hankook Ventus V12 evo2 K120 205/55 R16 94W</div>
				<div class="photo"><img src="images/tirepic.png" alt=""></div>
				<div class="about">
					<div class="desc">Сезонность:<span> Зимняя (без шипов)</span></div>
					<div class="desc">Протектор/Вес: <span>9 мм / 10,5 кг</span></div>
					<div class="desc">Производство: <span>Россия</span></div>
					<div class="desc">Класс модели: <span>А (Премиум)</span></div>
					<div class="btn"><a href="#params" class="size-btn slit">подобрать размер</a></div>
				</div>
			</div>
			<div class="tires-item">
				<div class="item-name">Hankook Ventus V12 evo2 K120 205/55 R16 94W</div>
				<div class="photo"><img src="images/tirepic.png" alt=""></div>
				<div class="about">
					<div class="desc">Сезонность:<span> Зимняя (без шипов)</span></div>
					<div class="desc">Протектор/Вес: <span>9 мм / 10,5 кг</span></div>
					<div class="desc">Производство: <span>Россия</span></div>
					<div class="desc">Класс модели: <span>А (Премиум)</span></div>
					<div class="btn"><a href="#params" class="size-btn slit">подобрать размер</a></div>
				</div>
			</div>
			<div class="tires-item">
				<div class="item-name">Hankook Ventus V12 evo2 K120 205/55 R16 94W</div>
				<div class="photo"><img src="images/tirepic.png" alt=""></div>
				<div class="about">
					<div class="desc">Сезонность:<span> Зимняя (без шипов)</span></div>
					<div class="desc">Протектор/Вес: <span>9 мм / 10,5 кг</span></div>
					<div class="desc">Производство: <span>Россия</span></div>
					<div class="desc">Класс модели: <span>А (Премиум)</span></div>
					<div class="btn"><a href="#params" class="size-btn slit">подобрать размер</a></div>
				</div>
			</div>
			<div class="tires-item">
				<div class="item-name">Hankook Ventus V12 evo2 K120 205/55 R16 94W</div>
				<div class="photo"><img src="images/tirepic.png" alt=""></div>
				<div class="about">
					<div class="desc">Сезонность:<span> Зимняя (без шипов)</span></div>
					<div class="desc">Протектор/Вес: <span>9 мм / 10,5 кг</span></div>
					<div class="desc">Производство: <span>Россия</span></div>
					<div class="desc">Класс модели: <span>А (Премиум)</span></div>
					<div class="btn"><a href="#params" class="size-btn slit">подобрать размер</a></div>
				</div>
			</div>
			<div class="tires-item">
				<div class="item-name">Hankook Ventus V12 evo2 K120 205/55 R16 94W</div>
				<div class="photo"><img src="images/tirepic.png" alt=""></div>
				<div class="about">
					<div class="desc">Сезонность:<span> Зимняя (без шипов)</span></div>
					<div class="desc">Протектор/Вес: <span>9 мм / 10,5 кг</span></div>
					<div class="desc">Производство: <span>Россия</span></div>
					<div class="desc">Класс модели: <span>А (Премиум)</span></div>
					<div class="btn"><a href="#params" class="size-btn slit">подобрать размер</a></div>
				</div>
			</div>
		</div>
		<a href="#" class="see-more">показать еще</a>
	</div>
</section>
<section class="sale">
	<div class="txt">При покупке любых шин действует скидка на шиномонтаж в нашем автоцентре.</div>
</section>