<!-- FOOTER -->
<div class="footer_placeholder"></div>
<footer class="footer">
	<div class="mbox wrap-footer">
		<div class="about-company about-right">
			<div class="company">
				<p>СООО "Автосеть" Юр. адрес: РБ, 224023, г. Брест. ул. Московская, 275 А</p>
				<p>УНП 190513391 В торговом реестре с 30 июня 2014г.</p>
				<p>Брестский горисполком.</p>
				<p>Свидетельство о регистрации № 190513391 выдано 07.06.2012г.</p>
			</div>
			<div class="working-hours">
				<p>Заказы по электронной почте и через сайт принимаются круглосуточно.</p>
				<p>Эл.почта <a href="mailto:order@autoset.by">order@autoset.by</a></p> 
				<p>Режим работы и обработки заказов: <br> 08<b>00</b>  -  20<b>00</b> (пн-сб),  09<b>00</b>  -  18<b>00</b>  (вс)</p>
			</div>
		</div>
		<div class="logo">
			<p>Создание сайта</p>
			<a href="#"><img src="images/logotype.png" alt=""></a>
		</div>
	</div>
</footer>
<!-- FOOTER -->

<!-- SCRIPTS -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
<script type="text/javascript" src="js/validate_script.js" ></script>

<!-- build:js -->
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBTCXUfZWzr09vJrcv9NlZcoftvC6a1xw8"></script> 
<script type="text/javascript" src="js/plagins/device.js" ></script>
<script type="text/javascript" src="js/plagins/jquery.fancybox.pack.js" ></script>
<script type="text/javascript" src="js/plagins/jquery.fancybox-transitions.js" ></script>
<script type="text/javascript" src="js/plagins/jquery.formstyler.min.js" ></script>
<script type="text/javascript" src="js/plagins/jquery.validate.min.js" ></script>
<script type="text/javascript" src="js/plagins/maskInput.js" ></script>
<script type="text/javascript" src="js/plagins/slick.js" ></script>

<script type="text/javascript" src="js/basic_scripts.js" ></script>
<script type="text/javascript" src="js/develop/script.js" ></script>
<!-- endbuild -->

<!-- /SCRIPTS -->
