<!-- HEADER -->
<header class="header">
  <div class="mbox">
    <div class="header-logos">
      <a href="index.html"><img src="images/hankook-logo.png" alt="logo"></a>
      <a href="https://autoset.by/" target="_blank"><img src="images/auto-logo.png" alt="logo"></a>
    </div>
    <h2>Шины Hankook с доставкой по всей Беларуси</h2>
    <div class="form-outer-wrap">
      <div class="form-wrap">
        <div class="form-inner-wrap">
          <h3>Закажите квалифицированный подбор</h3>
          <form class="order-form" action="ajax.php" method="post">
            <div class="field-row">
              <div class="select-field">
                <span>Ширина</span>
                <select id="width" class="header-select">
                  <option>195</option>
                  <option>196</option>
                  <option>197</option>
                </select>
              </div>
              <div class="select-field">
                <span>Профиль</span>
                <select id="profile" class="header-select">
                  <option>65</option>
                  <option>66</option>
                  <option>67</option>
                </select>
              </div>
              <div class="select-field">
                <span>Диаметр</span>
                <select id="diameter" class="header-select">
                  <option>R15</option>
                  <option>R16</option>
                  <option>R17</option>
                </select>
              </div>
            </div>
            <div class="form-field">
              <input class="tel" type="tel" name="tel" placeholder="Телефон" required />
            </div>
            <button class="h-right" type="submit">Отправить</button>
          </form>
          <p>Наш специалист перезвонит вам в течение 15 минут и поможет подобрать подходящие шины, проконсультирует по доставке и ценам.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="discount-wrap">
    <div class="discount">
      <p>Скидки на летние модели шин - 10%</p>
    </div>
  </div>
  <div class="tires-info-wrap">
    <div class="tires-info mbox">
      <div class="tires-info-item">
        <div class="tires-info-pic">
          <img src="images/tire-icon.png" alt="tire">
        </div>
        <p>Только высококачественные корейские шины без переплат.</p>
      </div>
      <div class="tires-info-item">
        <div class="tires-info-pic">
          <img src="images/quality-icon.png" alt="quality">
        </div>
        <p>Высочайшая оценка за торможение на мокром и сухом покрытии. 
        <br>Корейское качество.</p>
      </div>
      <div class="tires-info-item">
        <div class="tires-info-pic">
          <img src="images/guarantee-icon.png" alt="medal">
        </div>
        <p>Гарантия
        <br>подбора правильного размера шин.</p>
      </div>
    </div>
  </div>
</header>
<!-- /HEADER -->

