<section class="wrap-buy">
	<div class="advantages">
		<div class="plus">
			<img src="images/thumb.png" alt="">
			<div class="desc">Гарантия 2 года</div>
		</div>
		<div class="plus">
			<img src="images/post.png" alt="">
			<div class="desc">Бесплатная доставка</div>
		</div>
		<div class="plus">
			<img src="images/renew.png" alt="">
			<div class="desc">14 дней на возврат</div>
		</div>
	</div>
	<div class="mbox">
		<div class="buy-title">Как купить шины <span><img src="images/logo2.png" alt=""></span></div>
		<div class="wrap-steps">
			<div class="step1">
				<div class="wrap-num">
					<div class="number">1</div>
					<div class="step-desc">
						<p>Оставьте заявку на подбор шин или позвоните по одному из номеров</p>
						<a href="tel:+375297777777"><span><img src="images/velcom.png" alt=""></span>+375 29 777 77 77</a>
						<a href="tel:+375297777777"><span><img src="images/mts.png" alt=""></span>+375 29 777 77 77</a>
					</div>
				</div>
				<a href="#params" class="send h-right slit">Заявка на подбор шин</a>
			</div>
			<div class="step2">
				<div class="wrap-num">
					<div class="number">2</div>
					<div class="step-desc">
						<p>Приезжайте в один из трех магазинов в Минске или в любой областной центр Беларуси или закажите доставку домой.</p>
					</div>
				</div>
				<a href="#cities" class="adresses"><span><img src="images/position.png" alt=""></span>адреса магазинов</a>
			</div>
			<div class="step3">
				<div class="wrap-num">
					<div class="number">3</div>
					<div class="step-desc">
						<p>Оплачивайте заказ и получайте новые высококачественные шины.</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>